:root {
  --primary-bg-color: #19274d;
  --primary-font-color: #f8aa39;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #222;
}
.container {
  margin: 100px auto;
  padding: 70px 20px 20px 20px;
  width: 320px;
  height: 500px;
  border-radius: 10px;
  background-color: var(--primary-bg-color);
  position: relative;
}
.container::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -12%;
  transform: translate(-50%, 0);
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
}
img {
  position: absolute;
  left: 50%;
  top: -12%;
  transform: translate(-50%, 0);
  border: solid var(--primary-bg-color) 8px;
  border-radius: 50%;
}
.info {
  height: 100%;
}
.name-uni-container {
  height: 20%;
  background-color: var(--primary-bg-color);
  position: relative;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35%;
  font-size: 1.2rem;
}
.uni {
  height: 65%;
  font-size: 0.9rem;
  opacity: 0.5;
}
.score {
  padding: 0 10px;
  height: 30%;
  border-radius: 10px;
  background-color: #fff;
}
.score p {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score-title {
  color: var(--primary-font-color);
  font-size: 2.4rem;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
}
.score-info {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--primary-bg-color);
}
.admits {
  height: 40%;
  background-color: var(--primary-bg-color);
}
.admits p {
  height: 50%;
}
.admits-title {
  color: var(--primary-font-color);
  font-size: 1.2rem;
  position: relative;
}
.admits-title span {
  position: absolute;
  left: 50%;
  bottom: 2px;
  transform: translate(-50%, 0);
}
.admits-info {
  font-size: 1.2rem;
  font-weight: bold;
}
.button {
  height: 10%;
  border-radius: 10px;
  background-color: #fff;
}
.button a {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.5;
  font-size: 1.1rem;
  font-weight: bolder;
  text-decoration: none;
  color: var(--primary-bg-color);
}
